$menu-color: #222f3e;
$border-color: rgb(221, 221, 221);
$back-color: #eeeeee;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.container {
  height: 100vh;
  display: flex;
}

main {
  flex: 1;
  height: 100%;
}

.menu {
  width: 250px;
  height: 100%;
  background-color: $menu-color;
  position: relative;
  .logo {
    display: flex;
    align-items: flex-end;
    margin: 15px 20px;
    img {
      width: 20px;
      margin-right: 10px;
    }
    span {
      color: white;
      font-size: 16px;
      line-height: 90%;
    }
  }

  .list-menu {
    span {
      display: block;
      color: #ccc;
      margin: 75px 0 15px 20px;
      font-style: italic;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li a {
        font-size: 18px;
        display: block;
        color: #ccc;
        padding: 15px 20px;
        text-decoration: none;
        svg {
          margin-right: 10px;
        }
      }
      li.li-active a {
        background-color: #1d2835;
      }
    }
  }

  .burger-menu {
    position: absolute;
    top: 12px;
    right: 15px;
    color: white;
    font-size: 24px;
    .menu-open {
      display: none;
    }
    .menu-close {
      display: none;
    }
  }
}

@media screen and (max-width: 1040px) {
  .menu {
    position: absolute;
    transform: translateX(-200px);
    z-index: 9999;
    .menu-open {
      display: block !important;
    }
    .list-menu {
      a {
        position: relative;
      }
      svg {
        position: absolute;
        right: 5px;
      }
    }
  }
  main {
    margin-left: 50px;
  }

  .show-menu {
    animation: show-menu 0.3s ease 0s forwards;
  }
  .hide-menu {
    animation: hide-menu 0.3s ease 0s forwards;
  }
  @keyframes show-menu {
    from {
      transform: translateX(-200px);
    }
    to {
      transform: translateX(0px);
    }
  }
  @keyframes hide-menu {
    from {
      transform: translateX(0px);
    }

    to {
      transform: translateX(-200px);
    }
  }
}

// ##################
// ################## HEADER
// ##################

header {
  height: 50px;
  border-bottom: 1px solid $border-color;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .header-left {
    display: flex;
    align-items: center;
    span:first-child {
      font-size: 20px;
      font-weight: bold;
      margin-right: 10px;
    }
    span:last-child {
      cursor: pointer;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    svg,
    img {
      cursor: pointer;
    }
    label {
      position: relative;
      margin-right: 15px;
      input {
        padding: 10px 20px;
        width: 220px;
        outline: none;
        border: 1px solid $border-color;
        border-radius: 5px;
        color: gray;
      }
      svg {
        position: absolute;
        top: 10px;
        right: 10px;
        color: gray;
      }
    }
    .notification {
      position: relative;
      margin: 0 15px;
      span {
        position: absolute;
        top: -8px;
        right: -5px;
        display: block;
        background-color: orange;
        padding: 1px 3px;
        font-size: 12px;
        color: white;
        border-radius: 50%;
      }
    }
    .user-profile {
      position: relative;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
      span {
        position: absolute;
        bottom: 5px;
        right: -1px;
        width: 10px;
        height: 10px;
        background-color: lightgreen;
        border-radius: 50%;
        border: 2px solid white;
      }
    }
  }
}

.content {
  padding: 20px;
  height: calc(100% - 50px);
  overflow: auto;
  background-color: $back-color;
}

.content-wrap {
}
// #######dashboard-header-info

.dashboard-header-info {
  display: flex;
  flex-wrap: wrap;
}
.header-info-block {
  flex: 1;
  margin: 15px;
  padding: 10px;
  background-color: white;
  min-width: 220px;

  .info-inside {
    display: flex;

    .info-icon {
      width: 50px;
      height: 50px;
      background-color: orange;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }

    .info-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .info-content-top {
      margin: 0 15px;
      span.big-text {
        font-size: 18px;
      }
      span:not(.big-text) {
        font-size: 14px;
        color: gray;
      }
    }

    .info-content-bottom {
      margin: 0 15px;
      span {
        font-size: 14px;
        color: gray;
      }
    }
  }
}
